<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blackspot.Microgestion.Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blackspot.Microgestion.Frontend.Properties.Settings>
            <setting name="ItemsFormSize" serializeAs="String">
                <value>800, 400</value>
            </setting>
        </Blackspot.Microgestion.Frontend.Properties.Settings>
    </userSettings>
</configuration>