<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SysQ.Microgestion.Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SysQ.Microgestion.Frontend.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="ItemsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ItemsFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="UsersFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UsersFormSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="RolesFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RolesFormSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="MeasurementsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MeasurementsFormSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="PriceEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ItemsFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="UsersFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="RolesFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MeasurementsFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ItemTypesFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ItemTypesFormSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="ItemTypesWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </SysQ.Microgestion.Frontend.Properties.Settings>
    </userSettings>
</configuration>